@charset "utf-8";




body, html {
    height: 100%;
    font-size:16px;
    font-family: "Bahnschrift", "Segoe UI", "Helvetica";
    max-width: 1440px;
    min-height:100%;
    padding: 0px;
    background:#f6f6f6;
}

a {
  text-decoration: none;
  color: #008fff;
}

#console {
  position: absolute;
  padding-top: -10px;
  width: 250px;
  margin: 10px;
  padding: 20px;
  background-color: white;
}
#map {
    position: absolute;
    float: left;
    width: 100%;
    height: 70%;
}

#headtext{
  max-width: 100%;
  padding:20px;
  background-color: white;
  font-size:0.8em;
}

.paddingtop {
  padding-top: 5px;
}

.session {
  width: 100%;
  margin-bottom: 20px;
}

.row {
  height: 10px;
  width: 100%;
}

.colors {
  background: linear-gradient(to right, #2d8ac0, #559783, #add8a4, #e4ea9a, #fae08a, #f9ae60, #f26b44, #d83d51);
  margin-bottom: 5px;
}

.label {
  display: inline-block;
  text-align: center;
  font-size: 0.6em;

}
.perc {
  width: 15%;
}
.vol{
width: 18%;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 0.9em;
}

h3 {
  font-size: 1em;
}

.bannerimage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bus.jpg");
  height: 15%;
  width: 100%;
/* quelle bild https://www.stadt-zuerich.ch/vbz/de/index/fahrplan.html */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bannertext {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

@media screen and (max-width: 768px) {
    #console { width:20vw; }
    body {font-size:12px}
}
