@charset "utf-8";



a {
  text-decoration: none;
  color: #2dc4b2;
}

#console {
  position: absolute;
  width: 240px;
  margin: 10px;
  padding: 10px 20px;
  background-color: white;
}

.session {
  margin-bottom: 20px;
}

.row {
  height: 12px;
  width: 100%;
}

.colors {
  background: linear-gradient(to right, #328abf, #68c4a7, #e1e85d, #faac5f, #d63e4f);
  margin-bottom: 5px;
}

.label {
  width: 15%;
  display: inline-block;
  text-align: center;
}
/*
button {
  background-color: #0066CC;
  border: none;
  color: white;
  padding: 5px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 10px;
  margin-right:-5px;
  margin-top:-5px;
}
*/
button:hover {
	background-color: #003E7D;
	transition-duration:0.2s;
}
button.nobutton:hover {
	background-color: #6B0000;
	transition-duration:0.2s;
}
body {
font-family: "Helvetica";
max-width: 1440px;
min-height:100%;
padding: 0px;
background:#f6f6f6;
}

h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.2em;
	color: rgb(70, 70, 70);

}
body, html {
    height: 100%;
}


.bannerimage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bus.jpg");
  height: 20%;
/* quelle bild https://www.stadt-zuerich.ch/vbz/de/index/fahrplan.html */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bannertext {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


#map {
    position: absolute;
    float: left;
    width: 100%;
    height: 80%;
}

}

.box {
	display: inline-flex;
  font-size: 0;
  	height: 30px;
    width: 100%;
    text-align: center;
    vertical-align: center;
    padding:0px;
    padding-top:-2px;
    margin: 10;
		position:relative;
		color:white;
		margin:0px;
}
